body {
	background: url(../img/bgkow.png) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
#banner{
	height:150px;
	background: url(../img/banner.png) no-repeat;
	background-size: 100%
}
.navbar{
	background: whitesmoke;
	border: none 0px;
	text-align: left;
	padding: 5px;
	margin-bottom: 0px;
}
div.allContent{
	background: whitesmoke;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	text-align: center;
}
img.centerImage{
	margin-left: auto;
	margin-right: auto;
}
.centerSection{
	background: whitesmoke;
	column-count: 2;
	width:100%;
	max-width: 1000px;
}
#birdFeeder{
	width: 250px !important;
	height: 615px !important;
}
#primaryView{
	height: 615px !important;
	border : 0px;
	display: table-cell;
	width: auto;
}
iframe.twitter-timeline-rendered{
	width: 225px !important;
	height: 605px !important;
}
button:focus {
	outline:0 !important;
}
.btn-group{
	padding: 0 2px 2px;
}
.btn-default{
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.carousel-control{
	visibility: collapse;
	display: none;
}
.carousel-indicators .active{
	background-color: black;
}
.carousel-indicators li{
	border: 1px solid grey;
	background-color: grey;
}
.carousel-indicators{
	bottom: -50px;
}