<!DOCTYPE html>
<html ng-app="primaryApp">
  <head>
    <title>Kowabunga Comics</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="css/primaryApp.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/angular-gapi.js" type="text/javascript"></script>
    <script src="js/routingSetup.js"></script>
    <script src="js/angular-loadscript.js"></script>
  </head>
  <body ng-controller="mainController">
    <!-- HEADER AND NAVBAR -->
    <div class="allContent">
      <header>
        <div id="banner"></div>
        <nav class="navbar navbar-default">
          <div class="btn-group" dropdown is-open="status.isopen" ng-controller="NavBarController" 
               ng-repeat="item in navBarLinks.items">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled"  ng-if="item.pages">
              {{item.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-if="item.pages">
              <li ng-repeat="page in item.pages"><a href="#{{page.link}}">{{page.name}}</a></li>
            </ul>
            <a ng-if="!item.pages" href="#{{item.link}}">
              <button type="button" class="btn btn-default">{{item.name}}</button>
            </a>
          </div>
        </nav>
      </header>
      <table class="centerSection">
        <tr>
          <td  style="vertical-align: top">
            <div ng-view id="primaryView"></div>
          </td>
          <td style="vertical-align: top;width: 250px">
            <div id="birdFeeder">
              <span style="font-weight: bold;">
                <a class="twitter-timeline" data-widget-id="245910529422532608" href="https://twitter.com/Incredicow">Tweets by @Incredicow</a> 
                <script>!function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                          js = d.createElement(s);
                          js.id = id;
                          js.src = "js/widgets.js";
                          fjs.parentNode.insertBefore(
                            js,
                            fjs);
                        }
                      }(document,
                        "script",
                        "twitter-wjs");</script>
              </span>
            </div>
          </td>
        </tr>
      </table>
      <div id="footer">Kowabunga Comics 2014</div>
    </div>
  </body>
</html>