#myCarousel{
	/* height: 590px !important; */
}
.carousel-inner .item{
	background: whitesmoke;
	/* height: 550px !important; */
	padding:20px;
}
.carousel-control{
	top:80%;
}
/*.carousel-indicators{
  bottom:-50px;
}*/